magento24_old/.editorconfig
magento24_old/.gitignore
magento24_old/.htaccess
magento24_old/.htaccess.sample
magento24_old/.php_cs.dist
magento24_old/.user.ini
magento24_old/auth.json.sample
magento24_old/CHANGELOG.md
magento24_old/composer.json
magento24_old/composer.lock
magento24_old/COPYING.txt
magento24_old/grunt-config.json.sample
magento24_old/Gruntfile.js.sample
magento24_old/LICENSE_AFL.txt
magento24_old/LICENSE.txt
magento24_old/nginx.conf.sample
magento24_old/package.json.sample
magento24_old/SECURITY.md
magento24_old/teste.php
magento24
